<% include ./partials/header.ejs %>
<style>
  .hidden-viewers-container {
    display: none !important;
  }  
</style>

<div id="stories-container" data-stories='<%= JSON.stringify(stories) %>'></div>
<div class="stories-container w-full min-h-screen bg-zinc-900 text-white relative">
  <div class="nav flex gap-4 justify-between items-center px-4 py-3 bg-transparent absolute top-0 left-0 right-0 z-10">
    <a class="flex gap-2 items-center" href="">
      <div class="w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden">
        <img class="w-full h-full object-cover" src="/images/uploads/<%= user.picture %>" alt="">
      </div>
      <h3 class="text-lg">
        <%= user.username.length > 16 ? user.username.substring(0, 16) + "..." : user.username %>
        <span id="date" class="text-xs text-gray-400"></span>
      </h3>
    </a>
    <a href="/feed"><i class="text-[1.4rem] ri-close-line"></i></a>
  </div>
  
  <% if (stories.length > 0) { %>
    <div class="progress-container absolute top-0 left-0 right-0 h-1 flex z-10">
      <% stories.forEach((story, index) => { %>
        <div class="progress-wrapper flex-1 mx-1 bg-gray-700">
          <div class="progress bg-white h-full" id="progress-<%= index %>"></div>
        </div>
      <% }); %>
    </div>
    
    <% stories.forEach((story, index) => { %>
      <div class="story w-full h-full flex items-center justify-center absolute top-0 left-0 right-0 bottom-0" id="story-<%= index %>" style="display: none;">
        <img src="/images/uploads/<%= story.story %>" class="max-w-full max-h-full object-cover" alt="Story">
      </div>

      <div class="viewers-container absolute bottom-0 left-2 p-2 cursor-pointer z-30" data-story-index="<%= index %>" style="display: none;">
        <div class="viewers-toggler block justify-center items-center">
          <div class="flex justify-center items-center relative mb-6">
            <% if (story.viewers.length > 0) { %>
                <% if (story.viewers.length === 0) { %>

                <% } else if (story.viewers.length === 1) { %>
                  <div class="absolute w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= story.viewers[0].userId.picture %>" alt="">
                  </div>
                <% } else if (story.viewers.length === 2) { %>
                  <div class="absolute w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden mr-4">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= story.viewers[0].userId.picture %>" alt="">
                  </div>
                  <div class="absolute w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden ml-4">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= story.viewers[1].userId.picture %>" alt="">
                  </div>
                <% } else { %>
                  <div class="absolute w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden mr-10 -z-10">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= story.viewers[0].userId.picture %>" alt="">
                  </div>
                  <div class="absolute w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= story.viewers[1].userId.picture %>" alt="">
                  </div>
                  <div class="absolute w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden ml-10">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= story.viewers[2].userId.picture %>" alt="">
                  </div>
                <% } %>
            <% } %>
          </div>
          <div class="text-sm">
            <h3>Seen by <%= story.viewers.length %></h3>
          </div>
        </div>
      </div>

      <div class="modal hidden fixed top-[10%] w-full h-full bg-zinc-900 rounded-t-lg px-4" data-story-id="<%= story._id %>" style="display: none;">
        <h1 class="down-model text-lg text-white-500 flex justify-center item-center"><i class="text-[1.5rem] ri-arrow-down-s-line"></i></h1>
        <div class="flex justify-between item-center rounded-t-xl px-1 py-1 shadow-md shadow-gray-900">
          <h1 class="text-xl"><i class="text-[1.5rem] pr-1 ri-eye-line"></i>
            <%= story.viewers.length %>
          </h1>
          <i class="text-[1.4rem] ri-delete-bin-2-line cursor-pointer" id="deleteStory"></i>
        </div>
        <div class="flex justify-between item-center rounded-t-xl px-1 py-1 shadow-md shadow-gray-900">
          <h1 class="py-1">Viewers</h1>
          <h2 class="py-1">View</h2>
        </div>

        <div class="overflow-y-scroll scrollbar-hide h-screen pr-4">
          <% story.viewers.forEach(viewer => { %>
            <a href="/profile/<%= viewer.userId._id %>" class="outline-none">
              <div class="flex items-center justify-between gap-2 p-1">
                <div class="flex items-center gap-2">
                  <div class="w-[10vw] h-[10vw] bg-sky-100 rounded-full overflow-hidden">
                      <img class="w-full h-full object-cover" src="/images/uploads/<%= viewer.userId.picture %>" alt="">
                  </div>
                    <h4 class="text-sm">
                        <%= viewer.userId.username %>
                    </h4>
                </div>
                <h1 class="flex items-center">
                  <%= viewer.viewCount %>
                </h1>
              </div>
            </a>
          <% }); %>
        </div>
      </div>
    <% }); %>
  <% } else { %>
    <div class="flex flex-col items-center justify-center h-full py-60">
      <i class="ri-story-line text-5xl text-gray-400 mb-4"></i>
      <h3 class="text-lg text-gray-400">No stories uploaded yet</h3>
    </div>
  <% } %>
</div>

<script>
  let storiesContainer = document.getElementById('stories-container');
  let stories = JSON.parse(storiesContainer.getAttribute('data-stories'));
  let currentStoryIndex = 0;
  let interval;
  let isModalOpen = false;

  if (stories.length > 0) {
    function dater(dateString) {
      const date = new Date(dateString);
      const now = new Date();
      const diff = now - date;
      const seconds = Math.floor(diff / 1000);
      const minutes = Math.floor(seconds / 60);
      const hours = Math.floor(minutes / 60);
  
      if (seconds < 60) {
        return `${seconds}s `;
      } else if (minutes < 60) {
        return `${minutes}m `;
      } else if (hours < 24) {
        return `${hours}h `;
      } else {
        const options = { year: 'numeric', month: 'short', day: 'numeric' };
        return date.toLocaleDateString('en-US', options);
      }
    }
  
    function showStory(index) {
      document.getElementById('date').innerText = `${dater(stories[index].date)}`;
      document.querySelectorAll('.story').forEach((el, i) => {
        el.style.display = i === index ? 'flex' : 'none';
      });
      document.querySelectorAll('.viewers-container').forEach((el, i) => {
        el.style.display = i === index ? 'flex' : 'none';
      });
      
      document.querySelectorAll('.progress').forEach((el, i) => {
        el.style.transition = 'none';
        el.style.width = i === index ? '0%' : '100%';
        el.style.opacity = i === index ? '1' : '0.2';
      });
  
      setTimeout(() => {
        document.getElementById(`progress-${index}`).style.transition = 'width 10s linear';
        document.getElementById(`progress-${index}`).style.width = '100%';
      }, 1000);
  
      interval = setTimeout(nextStory, 10000);
    }
  
    function nextStory() {
      clearTimeout(interval);
      currentStoryIndex++;
      if (currentStoryIndex >= stories.length) {
        window.location.href = '/feed';
      } else {
        showStory(currentStoryIndex);
      }
    }
  
    function previousStory() {
      clearTimeout(interval);
      currentStoryIndex--;
      if (currentStoryIndex < 0) {
        currentStoryIndex = 0;
      }
      showStory(currentStoryIndex);
    }
  
    document.querySelector('.stories-container').addEventListener('click', (e) => {
      if (!isModalOpen) {
        if (e.clientX < window.innerWidth / 2) {
          previousStory();
        } else {
          nextStory();
        }
      }
    });
  
    document.addEventListener('DOMContentLoaded', () => {
      showStory(currentStoryIndex);
    });
  
    document.querySelectorAll('.viewers-toggler').forEach(container => {
      container.addEventListener('click', (e) => {
        clearTimeout(interval);
        isModalOpen = true;
        const index = e.currentTarget.closest('.viewers-container').getAttribute('data-story-index');
        document.querySelectorAll('.modal').forEach((modal, i) => {
          if (i === parseInt(index)) {
            modal.style.display = 'block';
            document.querySelectorAll('.viewers-container').forEach(viewerContainer => {
              viewerContainer.classList.add('hidden-viewers-container');
            });
          }
        });
      });
    });
  
    document.querySelectorAll('.down-model').forEach(button => {
      button.addEventListener('click', () => {
        isModalOpen = false;
        document.querySelectorAll('.modal').forEach(modal => {
          modal.style.display = 'none';
        });
        document.querySelectorAll('.viewers-container').forEach(viewerContainer => {
          viewerContainer.classList.remove('hidden-viewers-container');
        });
        showStory(currentStoryIndex);
      });
    });
  }

  document.querySelectorAll('.modal .ri-delete-bin-2-line').forEach(button => {
    button.addEventListener('click', async (e) => {
      const storyId = e.currentTarget.closest('.modal').getAttribute('data-story-id');
      try {
        const response = await fetch(`/stories/${storyId}`, {
          method: 'DELETE'
        });
        if (response.ok) {
          window.location.reload();
        } else {
          alert('Failed to delete story.');
        }
      } catch (error) {
        console.error('Error deleting story:', error);
        alert('An error occurred while deleting the story.');
      }
    });
  });
  
</script>

<% include ./partials/footer.ejs %>
